@charset "utf-8";
/* 使用PC MAC */

* {
  margin: 0;
  padding: 0;
}

.slide-items {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  width: 50px;
  height: 50px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(177, 177, 177, 0.637);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-btn {
  position:absolute;
  top: 50%;
  left: 30px;
}

.right-btn {
  position: absolute;
  top: 50%;
  right: 30px;
}